*{
    padding: 0%;
    margin: 0%;
}

header{
    height: 750px;
    background-image: url("multimedia/Foto\ portada.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
}

header h1{
    padding-top: 95px;
    font-size: 40px;
    font-family: 'Alex Brush', cursive;
    letter-spacing: inherit;
    color: white;
    
}

header p{
    font-size: 10px;
    color: white;
}

div{
    margin: 50px;
}

h1, h2, h3, p, a{
    text-align: center;  
}

h1{  
    font-family: 'Cormorant Garamond', serif;
    font-weight: inherit;
    font-size: 30px;
    width: 100%;
    letter-spacing: 0.2em;
}

#inicio h2{
    font-family: 'Alex Brush', cursive;
    font-weight: inherit;
    font-size: 55px;
    color: #eed9be;
    margin-bottom: 20px;
}

#inicio p{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: inherit;
}

a{
    margin-left: 25%;
}


#musica{
    margin-top: 30px;
    margin-left: 10%;
    width: 80%;
    height: 100px;
}

#caja{
    margin: 20px 0px;
}

#mensaje h3{
    font-size: xx-large;
    font-weight: initial;
    font-family: 'Cormorant Garamond';
}

#mensaje h4{
    font-size: 30px;
    font-family: 'Herr Von Muellerhoff';
    font-weight: initial;
    text-align: center;
    color: #efdabf;
    height: 30px;
}

#cuenta{
    display: flex;
    justify-content: center;
    margin: 30px;
}

#cuenta div{
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;

}

.simply-amount{
    border-radius: 50%;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 7px 1px #efdabf;
}


#horarios{
   
    background: url("multimedia/Descarga\(1\).jpeg");
    background-position: 487px;
    background-position-y: 27px;
    margin: 0px;
}

#horarios h2{
    font-family: 'Lora', serif;
    font-weight: bold;
    font-size: xx-large;
    
}

#horarios img{
    height: 100px;
    width: 100px;
}

#horarios a{
    text-decoration: none;

}

#dia_hora{
    font-family: 'Lora', serif;
    font-weight: inherit;
    font-size: x-large;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0;
    margin-top: 25px;
}

#celebracion, #ceremonia{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ubicacion_div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ubicacion{
    text-align: center;
    width: 50%;
    margin-left: 0px;
    margin-top: 25px;
    padding: 15px;
    background-color: #f1d6ae;
    color: aliceblue;
    border-radius: 5px;
}

#fondo{
    background: url("multimedia/Descarga\(2\).jpeg") no-repeat;
    background-position-y: 180px;
    background-position-x: -17px;
    margin: 50px 0px;
}


#vestimenta{
    margin: 0%;
    
}

#vestimenta h2{
    margin-top: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: inherit bold;
    font-size: 25px;
    
}

#mujerHombre {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: 0%;
    margin-top: 20px;
}

#mujerHombre img{
    width: 100%;
    margin-bottom: 10px;
    height: 50px;
    width: 50px;
}

#mujerHombre h4{
    font-weight: bolder;
    font-family: system-ui;
    color: #c9a38b;
    font-size: x-large;
}



#regalo{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#regalo img{
    height: 70px;
}

#regalo h3{
    margin: 20px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0.2em;
}

#regalo p{
    font-family: 'Courier New', Courier, monospace;
    font-size: smaller;
    font-weight: bold;

}


#carta{
    margin-top: 40px;
    height: 48px !important;
    width: 48px;
}

#efectivo{
    color: black !important;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
}

#asistencia{
    height: 200px;
    text-align: center;
}

#asistencia h2{
    font-family: 'Lora', serif;
}

#asistencia p{
    margin-top: 20px;
    text-align: center;
}

#contacto{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 50px;
}

#contacto a{
    text-align: center;
    font-size: 10px;
    padding: 15px;
    margin-left: 0px;
    background-color: #ffc2c0;;
    color: aliceblue;
    border-radius: 5px;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



#caja_album{
    height: 300px;
    margin-top: 100px;
    margin: 0px;
    margin-top: 100px;
    padding: 20px;
    background-color: #f1dfc8;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


#caja_album img{
    height: 100px;
    width: 100px;
    margin-left: 35%;
}


#caja_album div{
    margin: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#caja_album div a{
    margin: 0% 30%;
    width: 30%;
    padding: 10px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    border-radius: 10px;
    color: white;
    background-color: wheat;
    border: white solid;
}

#final h2{
    font-family: 'Alex Brush', cursive;
    font-size: 70px;
    font-weight: inherit;
}

#final h3{
    font-family: 'Herr Von Muellerhoff', cursive;
    font-size: 40px;
    margin-bottom: 50px;
    color: #26879f;
}